<fieldset class="row">
  <legend class="col-md-12">Add new Project</legend>
  <div class="col-md-6">
    <div class="form-group">
      <label for="tb-project-text">
        Text:
      </label>
      <input type="text" class="form-control" id="tb-project-text" />
    </div>
    <div class="form-group">
      <label for="tb-project-category">Category:</label>
      <input type="text" id="tb-project-category" class="form-control" />
    </div>
    <div class="form-group">
      <label for="tb-project-img">Image:</label>
      <input type="text" id="tb-project-img" class="form-control" />
    </div>
    <button class="form-control btn btn-primary col-md-12" id="btn-add-project">Add</button>
  </div>
  <img id="project-img-preview" class="col-md-5" />
</fieldset>
