<form id="cpa-form">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="newid" maxlength="9" id-"login_id"="" placeholder="Create a Login ID">
    </div>
    <span class="help-block"></span>

    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" name="newpin" id="pin_id" placeholder="Enter Password">
    </div>
    <span class="help-block"></span>

    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" name="verifypin" maxlength="6" id="verify_pin_id" placeholder="Confirm Password">
    </div>
    <span class="help-block"></span>

    <p></p><button type="submit">Register</button><p></p>
</form>

<script>
    $("#cpa-form").submit(function (e) {
        return false;
    });
</script>