<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#post"><i class="glyphicon glyphicon-pencil"></i> New Project</a></li>
    <li><a data-toggle="tab" href="#my-projects"><i class="glyphicon glyphicon-folder-open"></i> My Projects</a></li>
    <li><a data-toggle="tab" href="#all-projects"><i class="glyphicon glyphicon-th"></i> All Projects</a></li>
</ul>

<div class="tab-content">
    <div id="post" class="tab-pane fade in active">
        <textarea id="tinymce"></textarea>

        <script type="text/javascript">
        tinymce.init({
            selector: "#tinymce"
        });
        </script>
    </div>
    <div id="my-projects" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="all-projects" class="tab-pane fade">
        <div class="page-container">
            <div class="container">
                <div class="row row-offcanvas row-offcanvas-left">

                    <!-- sidebar -->
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        <form>
                            <select class="form-control" id="select">
                                <option>All</option>
                                <option>Hardware</option>
                                <option>Software</option>
                            </select>

                            <input type="search" class="form-control" placeholder="Keyword" />

                            <a class="btn btn-block">Update</a>
                        </form>
                    </div>

                    <!-- main area -->
                    <div class="col-xs-12 col-sm-9" style="padding: 1%">
                    Lalalalal
                    </div><!-- /.col-xs-12 main -->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.page-container-->
        <script>
            $(document).ready(function () {
                $('[data-toggle=offcanvas]').click(function () {
                    $('.row-offcanvas').toggleClass('active');
                });
            }); 
        </script>
    </div>
</div>
