<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#post"><i class="glyphicon glyphicon-pencil"></i> New Project</a></li>
    <li><a data-toggle="tab" href="#my-projects"><i class="glyphicon glyphicon-folder-open"></i> My Projects</a></li>
    <li><a data-toggle="tab" href="#all-projects"><i class="glyphicon glyphicon-th"></i> All Projects</a></li>
    <li><a data-toggle="tab" href="#favourite-projects"><i class="glyphicon glyphicon-heart"></i> Favourites</a></li>
</ul>

<div class="tab-content">
    <div id="post" class="tab-pane fade in active">

        <form id="post-project-form">
            <select class="form-control" id="post-select">
                <option>Hardware</option>
                <option>Software</option>
            </select>
            <input type="text" class="form-control" id="post-title" placeholder="Title">
            <textarea id="tinymce"></textarea>
            <input type="text" class="form-control" id="post-url" placeholder="Tutorial URL">
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button id="post-submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

        <script type="text/javascript">
        tinymce.init({
            selector: "#tinymce"
        });

        $('#post-project-form').submit(function () {
            return false;
        });

        $('body').on('click', '#post-submit', function () {
            var title = $('#post-title').val(),
                url = $('#post-url').val(),
                content = tinymce.get('tinymce').getContent();

            var categoryFilter = $("#post-select option:selected").val();
            var categoryId;
            switch (categoryFilter) {
                case 'Hardware': categoryId = 1; break;
                case 'Software': categoryId = 2; break;
            }

            if (!/^(http\:\/\/|https\:\/\/)?(www\.)?(youtube\.com|youtu\.be)\/watch\?v\=\w+$/.test(url)) {
                url = null;
            }

            jsonRequester.get('http://localhost:29004/api/IdentifyMe', {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('signed-in-user-auth-key')
                }
            }).then(function (myId) {
                jsonRequester.post('http://localhost:29004/api/Projects', {
                    headers: { Authorization: 'Bearer ' + localStorage.getItem('signed-in-user-auth-key') },
                    data: {
                        "name": title,
                        "createdOn": new Date().toJSON(),
                        "content": content,
                        "videoUrl": url,
                        "authorId": myId,
                        "categoryId": categoryId
                    }
                }).then(function (resp) {
                    toastr.success('An idea isn\'t responsible for the people who believe in it.', 'Don Marquis');
                });
            });

            $('#post-project-form')[0].reset();
        });
        </script>
    </div>
    <div id="my-projects" class="tab-pane fade">
        <script>
            function update(resp) {
                var $table = $('<table />');

                for (var ind = 0, len = resp.length; ind < len; ind++) {
                    $table.append('<tr><td class="col-md-3">'
                        + resp[ind].CreatedOn
                        + '</td><td class="col-md-4">'
                        + resp[ind].Category
                        + '</td><td class="col-md-4"><strong>'
                        + resp[ind].Name
                        + '</strong></td>'
                        + '<td><span class="glyphicon glyphicon-remove col-md-1 project-del" data-id="'
                        + resp[ind].Id
                        + '" style="color: #f00; cursor: pointer"></span></td>'
                        + '</tr>');
                }

                $('#my-projects').html($table);
            }

            $(document).ready(function () {
                jsonRequester.get('http://localhost:29004/api/ProjectsBy', 
                    {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('signed-in-user-auth-key')
                        }
                    })
                    .then(function (resp) {
                        update(resp);

                        $('body').on('click', '.project-del', function () {
                            var $this = $(this);
                            jsonRequester.delete('http://localhost:29004/api/Projects/' + $this.attr('data-id'))
                            .then(function () {
                                $this.parent().parent().remove();
                                toastr.success('Progress is man\'s ability to complicate simplicity.', 'Thor Heyerdahl');
                            });
                        });
                    })
                    .catch(function () {
                    });
            });
        </script>
    </div>
    <div id="all-projects" class="tab-pane fade">
        <div class="page-container">
            <div class="container">
                <div class="row row-offcanvas row-offcanvas-left">

                    <!-- sidebar -->
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        <form id="filter-form">
                            <select class="form-control" id="filter-select">
                                <option>All</option>
                                <option>Hardware</option>
                                <option>Software</option>
                            </select>

                            <input type="search" id="filter-search" class="form-control" placeholder="Keyword" />

                            <a id="filter-submit" class="btn btn-block">Update</a>
                        </form>
                    </div>

                    <!-- main area -->
                    <div id="projects-container" class="col-xs-12 col-sm-9" style="padding: 1%">
                    </div><!-- /.col-xs-12 main -->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.page-container-->
        <script>
            $(document).ready(function () {
                $('[data-toggle=offcanvas]').click(function () {
                    $('.row-offcanvas').toggleClass('active');
                });

                $('#filter-submit').click(function () {
                    var categoryFilter = $("#filter-select option:selected").val();
                    var categoryId;
                    switch (categoryFilter) {
                        case 'All': categoryId = 0; break;
                        case 'Hardware': categoryId = 1; break;
                        case 'Software': categoryId = 2; break;
                    }

                    jsonRequester.get('http://localhost:29004/api/Category/' + categoryId)
                        .then(function (resp) {
                            var $table = $('<table />');

                            for (var ind = 0, len = resp.length; ind < len; ind++) {
                                $table.append('<tr><td class="col-md-3">'
                                    + resp[ind].CreatedOn
                                    + '</td>'
                                    + '<td class="col-md-4">'
                                    + resp[ind].Category
                                    + '</td><td class="col-md-4"><strong><a class="project-data" data-id="'
                                    + resp[ind].Id
                                    + '">'
                                    + resp[ind].Name
                                    + '</a></strong></td>'
                                    + '<td class="col-md-1"> <a class="glyphicon glyphicon-heart-empty like-project" data-id="'
                                    + resp[ind].Id
                                    + '"></a></td>'
                                    + '</tr>');
                            }

                            $('#projects-container').html($table);

                            $('body').on('click', '.project-data', function () {
                                var $this = $(this);
                                panelController.show($this.attr('data-id'), '#projects-container');
                            });

                            $('body').on('click', '.like-project', function () {
                                var $this = $(this);

                                jsonRequester.post('http://localhost:29004/api/Favourites/' + $this.attr('data-id'), {
                                    headers: {
                                        Authorization: 'Bearer ' + localStorage.getItem('signed-in-user-auth-key')
                                    }
                                }).then(function (myId) {
                                    toastr.success('Reality continues to ruin my life.', 'Bill Watterson');
                                }).catch(function () {
                                    toastr.error('You\'ve already sent this one to favourites.', 'Don\'t cheat!');
                                });

                            });
                        })
                        .catch(function () {
                            toastr.error('Sorry, nothing found :(');
                        });
                });
            });
        </script>
    </div>
    <div id="favourite-projects" class="tab-pane fade">
         <script>
             function updateFavs(resp) {
                 var $table = $('<table />');

                 for (var ind = 0, len = resp.length; ind < len; ind++) {
                     $table.append('<tr><td class="col-md-3">'
                         + resp[ind].CreatedOn
                         + '</td><td class="col-md-4">'
                         + resp[ind].Category
                         + '</td><td class="col-md-4"><strong>'
                         + resp[ind].Name
                         + '</strong></td>'
                         + '<td><span class="glyphicon glyphicon-remove col-md-1 fav-del" data-id="'
                         + resp[ind].Id
                         + '" style="color: #f00; cursor: pointer"></span></td>'
                         + '</tr>');
                 }

                 $('#favourite-projects').html($table);
             }

             $(document).ready(function () {
                 jsonRequester.get('http://localhost:29004/api/Favourites',
                     {
                         headers: {
                             Authorization: 'Bearer ' + localStorage.getItem('signed-in-user-auth-key')
                         }
                     })
                     .then(function (resp) {
                         updateFavs(resp);

                         $('body').on('click', '.fav-del', function () {
                             var $this = $(this);
                             jsonRequester.delete('http://localhost:29004/api/Favourites/' + $this.attr('data-id'),
                                 {
                                     headers: {
                                         Authorization: 'Bearer ' + localStorage.getItem('signed-in-user-auth-key')
                                     }
                                 })
                             .then(function () {
                                 $this.parent().parent().remove();
                                 toastr.success('Progress is man\'s ability to complicate simplicity.', 'Thor Heyerdahl');
                             });
                         });
                     })
                     .catch(function () {
                     });
             });
         </script>
    </div>
</div>
